<!DOCTYPE html>
<html lang="en">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    th:text的使用方法：<h3 th:text="'欢迎您：：' + ${session.username}"></h3>
    <tr>
        th:text 针对对象的使用方法：<h3 th:text="${person.username}"></h3>
    </tr>

    <!--<tr>-->
        <!--th:text 针对对象的使用方法：<h3 th:text="${person.password}"></h3>-->
    <!--</tr>-->
    <tr>
        th:text <h3 th:text="${person.password}"></h3>
    </tr>

    ,数据库查询成功了

    <form class="form1" th:object="${person}">-->
        <input type="text" class="input-text" value="" th:value="*{username}" name="username"/>
        <input type="text" class="input-text" value="" th:filed="*{password}" placeholder="" id="pass"/>

    </form>

    <table>
        <thead>
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>密码</th>
            </tr>

            <tr th:each="userinfo:${userList}">
                <td th:text="${userinfo.id}"></td>
                <td th:text="${userinfo.username}"></td>
                <td th:text="${userinfo.password}"></td>
            </tr>
        </thead>
    </table>





</body>

</html>