<!DOCTYPE html>
<html lang="EN">
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link type="text/css" rel="stylesheet"  href="/css/login.css"/>
    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>

<div class="header">
    <div class="inner_c">
        <div class="header_left">Design By Zhou</div>
        <div class="header_right">
            <div class="hri_left">
                <ul>
                    <li>登录&nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li>注册&nbsp;&nbsp;&nbsp;&nbsp;|</li>
                    <li>公司合作&nbsp;&nbsp;|</li>
                </ul>
            </div>
            <div class="hri_right">咨询热线：</div>
        </div>
    </div>
</div>

<div class="body_top">
    <div class="inner_body">
        <p><img src="../images/flower.jpg"/></p>
        <p class="p_id1"></p>
    </div>
</div>
<div class="body_center">
    <div class="inner_body2">
        <div class="bc_left">
            <img src="../images/jiaju1.jpg">
        </div>
        <div class="bc_right">
            <p></p>
            <form  id="loginform">
                <input type="text" class="name_input" id="username" name="username">
                <input type="password" class="pass_input" id="password" name="password">
                <input type="button" class="p_login" onclick="loginpass()" value="立即登录"/>
                <a href="#">免费注册</a>
            </form>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="inner_bottom">
        <div class="bottom1">
            <p class="p_l">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright &copy;
                2004-2014&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XXXXXX（Decorating &nbsp;&nbsp;Houses）
                &nbsp;&nbsp;&nbsp;&nbsp;ICPXX
                备XXXXXXXX号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                增值电信业务经营许可证：&nbsp;&nbsp;XXXXXXXXXXX</p>
            <p class="p_r"><img src="../images/govIcon.gif" alt=""></p>
            <!--<p>免责声明：本网站设计用于理论学习</p>-->
        </div>
    </div>
</div>
</body>
</html>